

body {
  
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
    
}

/* .............................header............................................. */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    top: 0px;
    width: 100%;
    height: 0px;
    bottom: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: fixed;
    

}

.main-head {
    grid-column: 1 / span 1;
    grid-row: 1;
    background-color: white;
    justify-content: start;
    padding: 5px;
    border-bottom: 5px solid #ffbe76;
}


.main-nav {
    grid-column:  2 /span 3;
    background-color: white;
    border-bottom: 5px solid #ffbe76;
    align-items: end;
    
}

li {
    display: inline;
    padding: 10px;
    list-style-type: none;
    align-items: flex-end;
    cursor: pointer;
   color: black;
    
    font-size: 14px;
    font-weight: bold;

}



ul {
   margin-left: 230px;
   margin-top: 20px;

}
.but2 {
    margin: 20px;
   
}

.but-link2 {
    background-color: #f8b864;
    color: #fff;
   
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin-left: 2rem;
}
.but-link2:hover {

    color: #feca57 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: grey;
   
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

#logo {
    width: 9rem;
    height: 70px;
    margin-left: 2rem;
}

/* .......................................First section................................................ */

.box {
    margin-top: 83px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    


}

.ImgBx {
    grid-column: 1 / span 2;
    grid-row: 1;
    height: 100%;


}

.ImgBx .pic-sec {
    width: 900px;
    height: 100%;
}

.content {
    grid-column: 3 / span 2;
    grid-row: 1;
    justify-content: center;
    background-image: linear-gradient(to right bottom,rgba(255, 190, 118,0.8),rgba(255, 190, 118,0.8)), url(img/9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
   
}

.content h2,
p {
    margin-left: 1.3rem;
    margin-top: 2rem;
    color: white;

}

#two {
    text-decoration: none;
    color: white;

    font-size: 1rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-left: 1.3rem;

}

#tit1 {
    color: white;
    margin-bottom: 0rem;
    margin-left: 1.3rem;
}

.content hr {
    width: 300px;
    height: 3px;
    background-color:white;
    border: none;
    margin-top: 10px;
}

.but1 {
    margin: 30px;
    margin-left: 10px;
}

.but-link {
    border: none;
    background:rgba(255, 190, 118,1.0);
    color: black;
   font-family: 'PT Sans', sans-serif;
   font-size: 1rem;
    padding: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.3s ease 0s;
     
    text-decoration: none;
}

.but-link:hover {

    color: #404040 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;
    
    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

/* ................................................Second Section................................. */

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    grid-gap: 8px;
    height: 60vh;
    overflow: hidden;
   
}

#pic1 {
    grid-column: 1/ span 2;
    background-color: rgba(247, 241, 227,1.0);
    height: 100%;
    
}
#para5 {
    color: black;
}

#pic2 {
    grid-column: 3/span 4;
    grid-row: 1;
    background-image: url(img/girl-smiling.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;

}

#ti1 {
    grid-column: 2 / span 3;
    grid-row: 1;
    color: white;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

#ti2 {
    grid-column: 2 / span 3;
    grid-row: 1;
    margin-top: 2px;
    color:white;
    margin-left: 1rem;
}

#parra {
    grid-column: 2 / span 3;
    grid-row: 1;
    margin-top: 1rem;
    margin-left: 1rem;

}

.link5 {
    grid-column: 2 / span 3;
    grid-row: 1;
    margin-top: 200px;
}

#three {
    text-decoration: none;
    color: white;
    
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 2.5rem;
    margin-left: 1.3rem;
}
#ti3 {
    grid-column: 1 / span 2;
    grid-row: 1;
    color:black;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

#ti4 {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-top: 2px;
    color:black;
    margin-left: 1rem;
}

#parra1 {
    grid-column: 1 / span 2;
    grid-row: 1;
    margin-top: 1.2rem;
    margin-left: 1rem;
     color: black;

}
#fourth {
    text-decoration: none;
    color:black;
    
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 5rem;
    margin-left: 1.3rem;
}


#photo1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#photo2 {
    width: 700px;
    height: 266.5px;
    margin-right: 20px;
    margin-top: 20px;
}


/* -------------------------------------------------Section3---------------------------------------------------------------------------- */

.container2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-top: 3rem;
    margin-left: 10px;
    margin-right: 0rem;
    
}
.nevermind {
    grid-column: 1 / span 1;
    border: 1px dotted#bdc3c7;
    margin-right: 5px;
    margin-left: 40px;
    width: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    
  }
  .nevermind {
	opacity: 1;
	
	transition: .3s ease-in-out;
}
.nevermind:hover {
	opacity: .6;
}

.nevermind1 {
	opacity: 1;
	transition: .3s ease-in-out;
}
.nevermind1:hover {
	opacity: 0.6;
}

.nevermind2 {
	opacity: 1;
	transition: .3s ease-in-out;
}
.nevermind2:hover {
    
	opacity: 0.6;
}


  .nevermind1 {
    grid-column: 2 / span 1;
    border: 1px dotted #bdc3c7;
    margin-left: 25px;
    width: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .nevermind2 {
    grid-column: 3 / span 1;
    border: 1px dotted #bdc3c7;
    margin-left: 15px;
    width: 330px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
  }
  .container2 img {
      grid-column: 1 / span 2;
      width: 100%;
  }

  .art {
      background-color: #f2f2f2;
      padding-top: 20px;
      margin-top: 20px;
      padding-bottom: 50px;
  }

#title0 {
   margin-left: 34rem;
   margin-bottom: 0rem;
   margin-top: 30px;

   
    
}
.art hr {
    width: 50px;
    height: 5px;
    background-color:#ffbe76 ;
    border: none;
    margin-top: 1.5px;
    margin-left: 38rem ;
    
}
#parra5{

  margin-top: 0rem;
    color: #555;
    margin-left: 28rem;
    margin-bottom: 0rem;

}
#parra6{

    margin-top: 0.5rem;
      color: #555;
      margin-left: 34rem;
      margin-bottom: 0rem;
  
  }
.title01 {
    margin-left: 10px;
    margin-bottom: 0.5rem;
    grid-column: 1 / span 2;
}
.parra0 {
    color: black;
    margin-top: 0rem;
    margin-left: 0.7rem;
    grid-column: 1 / span 2;
}
#icon1 {
    width:  20px;
    grid-column: 1 / span 1;
    margin-top: 0.8rem;
    margin-left: 4rem;

}
#icon2 {
    width: 35px;
   margin-top: 1rem;
   margin-left: 1rem;
}
#icon10 {
    width:  20px;
    grid-column: 1 / span 1;
    margin-top: 0.8rem;
    margin-left: 4rem;

}
#icon20 {
    width: 35px;
   margin-top: 1rem;
   margin-left: 1rem;
}
#icon01 {
    width:  20px;
    grid-column: 1 / span 1;
    margin-top: 0.8rem;
    margin-left: 4rem;

}
#icon02 {
    width: 35px;
   margin-top: 1rem;
   margin-left: 1rem;
}
.small-tit {
    margin-left: 2.7rem;
    margin-top: 0.7rem;
   
}
 .small-tit1 {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
 }

    /* Section 4 */
    .art1 {
        
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #ffffff;
        border: 1px solid #dfe4ea;
        
    }

 .container3 { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    margin-top: 20px;

 }
 
 #photo4 {
     margin-top: 3rem;
     margin-left: 8rem;
     width: 140px;
 }
 
 #photo5 {
    margin-top: 2rem;
    margin-left: 9rem;
    width: 100px;
}
#photo6 {
    margin-top: 1rem;
    margin-left: 8rem;
    width: 100px;
}
 #last {
     align-items: center;
     margin-left: 7.8rem;
     margin-top: 2rem;
 }
 #last1 {
    align-items: center;
    margin-left: 9.3rem;
    margin-top: 1.8rem;
}
#last2 {
    align-items: center;
    margin-left: 6.3rem;
}
 .another {
     margin-left: 20px;
     border-right: 1px dashed#dfe4ea;
     border-bottom: 1px solid white ;
    border-top: 1px solid white ;
    border-left: 1px solid white ;
  
 }

 .another1 {
    
    border-right: 1px dashed #dfe4ea;
    border-bottom: 1px solid white ;
    border-top: 1px solid white ;
    border-left: 1px solid white ;
  
}
.another2 {
    
    border-bottom: 1px solid white ;
    border-top: 1px solid white ;
    border-left: 1px solid white ;
   
}
.parra02 {
    color: #555;
    margin-top: 2.3rem;
}
.parra021 {
    color: #555;
}
.parra022 {
    color: #555;
}

.what {
    text-decoration: none;
    color: #555;
    margin-left: 1.2rem;

}

   /* Section5  */


.art2 {
  
    background-image:linear-gradient(0deg, rgba(75, 75, 75,0.9), rgba(61, 61, 61,0.9)), url(img/22.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    position: relative;

}


.but-link3 {
    margin-top: 100px;
    margin-left : 40px ;
    background-color: #f8b864;
    color: #fff;
   
    display: inline-block;
    padding: 10px;
    border-radius: 3px;
    font-size: 12px;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    margin-left: 2rem;
}

.but-link3:hover {

    color: #feca57 !important;
    font-weight: 700 !important;
    letter-spacing: 3px;
    background: none;

    box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.3s ease 0s;
}

#tit-t {
    margin-top: 30px;
    margin-left: 40px;
    color: white;
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#parra03 {
    margin-left: 40px;
    margin-top: 10px;
    text-align: justify;
  line-height: 25px;
   
}

video {
position: relative;
left: 600px;
bottom: 250px;
   
}

.vid  {
	-webkit-transform: scale(1);
	transform: scale(1);
	
	transition: .2s ease-in-out;
}
.vid:hover  {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
#just {
    width: 20px;
    margin-left: 40px;
    margin-top: 20px;
}
#just0 {
    width: 30px;
    POSITION: relative;
    left: 200px;
    bottom: 103px;
}
/* #too-small {
    position: relative;
    left: 60px;
    bottom: 50px;
    
   
}
 #too-small1{
    position: relative;
    left: 220px;
    bottom: 155px;
 }
  */



  /* footer */

  footer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 10px;
    height: 300px;
    padding-left: 100px;
    background-color: #333;
       
}
.add img{
    width: 15px;
    height: 15px;
    padding: 0;
    margin-right: 2px;
}
.social img{
    width: 15px;
    height: 15px;
    padding: 10px;
    margin-right: 2px;
}
.botton{
    margin-top: 15px;
    margin-left: 184px;
}
.question h5{
    margin-top: 10px;
    color: #555;
}

.img h3 {
    text-align: left;
    color: #555;
    
}
.add h4{
    
    color: white;
    font-size: 15px;
}
.newsletter h4 {
    color: white;
    font-size: 15px;
    margin-left: 5px;
}
.question h4 {
    color: white;
    font-size: 15px;
    margin-left: 5px;


}
#msg {
    color: #555;
}
#but4 {
    background-color:#feca57 ;
    padding: 5px;
    border-radius:3px ;
    border-color: #feca57;
    width: 80px;
}